<% layout("/layouts/boilerplate.ejs") %>

<div class="row">
    <div class="col-8 offset-2">
        <h3>Create a New Liting</h3>
        <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input name="title" 
                placeholder="Enter a catchy title"
                class="form-control"
                required
                >
                <div class="invalid-feedback">Please Enter a Title</div>
            </div>
            
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" name="description" required ></textarea>
                <div class="invalid-feedback">Please enter short description</div>
            </div>
        
            <div class="mb-3">
                <label for="listing.image" class="form-label">Image Link</label>
                <input class="form-control"
                placeholder="Upload image"
                type="file"
                name="listing.image"
                required 
                >
            </div>


            <div class="row">

                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input class="form-control" 
                        name="price"
                        placeholder="1200" 
                      
                        required

                    >
                    <div class="invalid-feedback">Price should be valid</div>
                    
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input class="form-control" 
                    placeholder="INDIA"
                    name="country" 
                    required   
                >        
                <div class="invalid-feedback">Country shouldbe valid</div>            
                </div>               
            </div>
            

            <div class="mb-3"> 
                <label for="location" class="form-label">Location</label>
                <input class="form-control" 
                placeholder="Jaipur Rajasthan"
                name="location"
                required
                >
                <div class="invalid-feedback">Location should be valid</div>
                
            </div>

            <div class="mb-3">
                <label for="categories" class="form-label">Select the categories for your listing</label>
                <div class="filter-options" style="font-weight: 400;">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="categories" value="Trending" id="trending">
                    <label class="form-check-label" for="trending">Trending</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="categories" value="Rooms" id="rooms">
                    <label class="form-check-label" for="rooms">Rooms</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="categories" value="Iconic Cities" id="iconic">
                    <label class="form-check-label" for="iconic">Iconic Cities</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="categories" value="Mountains" id="mountains">
                    <label class="form-check-label" for="mountains">Mountains</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="categories" value="Castles" id="castles">
                    <label class="form-check-label" for="castles">Castles</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="categories" value="Amazing Pools" id="pools">
                    <label class="form-check-label" for="pools">Amazing Pools</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="categories" value="Camping" id="camping">
                    <label class="form-check-label" for="camping">Camping</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="categories" value="Farms" id="farms">
                    <label class="form-check-label" for="farms">Farms</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="categories" value="Arctic" id="arctic">
                    <label class="form-check-label" for="arctic">Arctic</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="categories" value="Beach" id="beach">
                    <label class="form-check-label" for="beach">Beach</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="categories" value="Volcano" id="volcano">
                    <label class="form-check-label" for="volcano">Volcano</label>
                  </div>
                </div>
              </div>
              
            
            <br><br>

            <button class="btn btn-dark add-btn">Add</button>
        </form>
    </div>
    

</div>
