<% layout("/layouts/boilerplate.ejs") %>

<div class="row">
    <div class="col-8 offset-2">
        <h3>Create a New Liting</h3>
        <form method="post" action="/listings" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input name="title" 
                placeholder="Enter a catchy title"
                class="form-control"
                required
                >
                <div class="invalid-feedback">Please Enter a Title</div>
            </div>
            
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" name="description" required ></textarea>
                <div class="invalid-feedback">Please enter short description</div>
            </div>
        
            <div class="mb-3">
                <label for="image" class="form-label">Image Link</label>
                <input class="form-control"
                placeholder="Enter image link"
                name="image.url" >
            </div>

            <div class="row">

                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input class="form-control" 
                        name="price"
                        placeholder="1200" 
                      
                        required

                    >
                    <div class="invalid-feedback">Price should be valid</div>
                    
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input class="form-control" 
                    placeholder="INDIA"
                    name="country" 
                    required   
                >        
                <div class="invalid-feedback">Country shouldbe valid</div>            
                </div>               
            </div>
            

            <div class="mb-3"> 
                <label for="location" class="form-label">Location</label>
                <input class="form-control" 
                placeholder="Jaipur Rajasthan"
                name="location"
                required
                >
                <div class="invalid-feedback">Location should be valid</div>
                
            </div>

            
            <br><br>

            <button class="btn btn-dark add-btn">Add</button>
        </form>
    </div>
    

</div>
