
body{
   font-family: "Plus Jakarta Sans", sans-serif !important;
   min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container{
    flex:1;
}
.navbar{
    margin-top: .5rem;
    height: 5rem;
    background-color: white;

}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}



.f-info-links a{
    text-decoration: none;
    color:#222222;

}
.f-info-links a:hover{
    text-decoration: underline;  
}
.f-info-links, 
.f-info-socials,
.f-info-brand{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}
.f-info{

    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards*/
.listing-card{
    border: none !important;
    margin-bottom: 2rem;

}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0% !important;
}
.card-text{
    font-weight: 400 !important;
    color: #222222;  
}
.card-text a{
    color: #222222;
    text-decoration: none;
}
.card-text a:hover{
    text-decoration: underline;
}
.listing-link{
    text-decoration: none;
}

/* card effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.1;
    background-color: white;
}
/* new page */
.add-btn{
    background-color: #fe424d !important;
}

/* edit page */
.edit-btn{
    background-color: #fe424d !important;
}

/* show page */
.show-image{
    border-radius: 2rem;
    height: 50vh !important;
    width: 50% !important;
    object-fit: cover !important;

}
.btns{
    display: flex;
    
}
.show-card{
    padding-left: 0;
    padding-right: 0;

}
