
body{
   font-family: "Plus Jakarta Sans", sans-serif !important;
   min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-weight: 700 !important;
}
.container{
    flex:1;
}


.navbar{
    margin-top: .5rem;
    height: 5rem;
    background-color: white;
    

}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
    text-decoration: underline !important;
    font-size: 0.8rem !important;
    text-shadow: #222222;
    font-weight: 700 !important;
}



.f-info-links a{
    text-decoration: none;
    color:#222222;

}
.f-info-links a:hover{
    text-decoration: underline;  
}
.f-info-links, 
.f-info-socials,
.f-info-brand{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}
.f-info{

    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards*/
.listing-card{
    border: none !important;
    margin-bottom: 2rem;

}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0% !important;
}
.card-text{
    font-weight: 400 !important;
    color: #222222;  
}
.card-text a{
    color: #222222;
    text-decoration: none;
}
.card-text a:hover{
    text-decoration: underline;
}
.listing-link{
    text-decoration: none;
}

/* card effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.1;
    background-color: white;
}
/* new page */
.add-btn{
    background-color: #fe424d !important;
}

/* edit page */
.edit-btn{
    background-color: #fe424d !important;
}

/* show page */
.show-image{
    border-radius: 2rem;
    height: 50vh !important;
    width: 50% !important;
    object-fit: cover !important;

}
.btns{
    display: flex;
    
}
.show-card{
    padding-left: 0;
    padding-right: 0;

}


/* map */
/* Set the size of the div element that contains the map */
#map {
    height: 400px; /* The height is 400 pixels */
    width: 100vh; /* The width is the width of the web page */
}

/* Categories and tax button */
#filters{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.filter{
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
}
.filter:hover{
    opacity: 1;
    cursor: pointer;
}
.filter a{
    color: black;
}
.filter p{
    font-size: 0.4rem;
}
.tax-info{
    font-size: 0.7rem;
    display: none;
}
.tax-toggle{
    border: 1px solid gray;
    border-radius: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 2rem;
    margin-left: 1rem;
    
    padding: 1rem;
}

.tax-toggle:hover{
    cursor: pointer;
}
#switchCheckDefault{
    opacity: 0.7;
    border: 1px solid black;
}
#switchCheckDefault:hover{
    opacity: 1;
    cursor: pointer;
}

/* nav bar search box addition------------------------- */
